html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0 0.5rem;
	background: #f0f0f0;
}

.mainBlock {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: #f0f0f0;
	margin: 0 0 1em 0;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -0.5rem;
	gap: 1rem;
}
li {
    list-style: none;
}

.audio li:hover, .audio li.active {
	cursor: pointer;
	background-color: #f35353;
}

.image {
	margin: 1em;
}

.images img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.images li {
	border: transparent 3px solid;
}

.images li:hover, .images li.active {
	cursor: pointer;
	border: #f35353 3px solid;
}
